@charset "utf-8";
.List_content{
    
    padding: 0;
    color: black;
    background-color: antiquewhite;

}
@keyframes slideInLeft {
    from{
        transform: translateX(-150px);
    }
    to{
        transform: translateX(0px);
    }
    
}
.slideInLeft{
    animation: slideInLeft 1s ease-out;
}
.List_content{
    border: 1px solid black;
    border-radius: 4px;
}
.List_content h3{
    font-family: cursive;
    font-size: 18px;
	font-weight: 600;
	color: brown;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1.2rem;
}
.List_content .types{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.types h4{
    font-family: cursive;
}
.types select{
    margin-top: -4px;
    border: none;
    gap: 2rem;
    display: flex;

}

.types form .line{
    margin-bottom: 7px;
    position: relative;
    bottom: 0;
    display: block;
    width: 60%;
    height: 2px;
    background-color: black;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
select{
    background: antiquewhite;
    border-radius: none;
    outline: none;

}
form select {
    margin-top:6px ;
}
.place_details{
    box-sizing: border-box;
    height: 38rem;
    overflow: auto;
}
.types .rating{
    display: flex;
    gap: 22px;
}
.select{
    margin-top: -4px;
}

@media only screen and (max-width: 873px)  {
    .List_content {
        margin-bottom: 2rem;
        width: 100%;
    }
    .List_content{
        border: none;
    }
  }
  
@media only screen and (max-width: 686px)  {
    .List_content {
        
        width: 90%;
    }
  }