
@charset "utf-8";
.List_content{
    
    padding: 0;
    color: black;
    background-color: antiquewhite;

}
.listcontent{
    margin: 1rem;
    background: rgb(255,255,255,255);
    box-shadow: inset 20px 20px 20px rgba(0,0,0,.05), 25px 35px 20px rgba(0,0,0,.05);
    border-radius: 2rem;
    border-top: 1px solid black;
    border-style: inherit;
}
.types select{
    background-color: #fff;
    text-decoration: none;
    border-bottom: 1px solid black;
    border-radius: 1rem;
    padding-left: 3px;
    padding-right: 3px;
    justify-content: center;
    display: flex;
    outline: none;
    margin-bottom:20px;
}
@keyframes slideInLeft {
    from{
        transform: translateX(-150px);
    }
    to{
        transform: translateX(0px);
    }
    
}
.slideInLeft{
    animation: slideInLeft 1s ease-out;
}
.List_content{
    border: 1px solid black;
    border-radius: 4px;
}
.List_content h3{
    font-family: cursive;
    font-size: 18px;
	font-weight: 600;
	color: brown;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1.2rem;
}
.List_content .types{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.types h4{
    font-family: cursive;
}


.types form .line{
    margin-bottom: 7px;
    position: relative;
    bottom: 0;
    display: block;
    width: 60%;
    height: 2px;
    background-color: black;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
form select {
    margin-top:6px ;
}
.place_details{
    box-sizing: border-box;
    height: 32rem;
    overflow: auto;
}
.types .rating{
    display: flex;
    gap: 22px;
}
.select{
    margin-top: -4px;
}
.rotateloader{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
  }

@media only screen and (max-width: 873px)  {
    .List_content {
        margin-bottom: 2rem;
        width: 100%;
    }
    .List_content{
        border: none;
    }
  }
  
@media only screen and (max-width: 686px)  {
    .List_content {
        
        width: 90%;
    }
  }