@charset "utf-8";
.Header_container{
    
    padding: 0;
    color: black;
    background: lightblue;
    display: contents;

}
.header_position{
    box-shadow: inset 20px 20px 20px rgba(0,0,0,.05), 25px 35px 20px rgba(0,0,0,.05);
    height: 4rem;
    display: flex;
     background-color: deepskyblue; 
    color: aliceblue;
    /* border: 1px solid black; */
    /* border-radius: 4px; */
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
}
.header_position>.title{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 30px;
    margin-left: 10px;
}
.title >h3{
    font-family: cursive;
    font-size: 18px;
	font-weight: 600;
	color: darkblue;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
    margin-bottom: 0px;
    
}
.options{
    height: 100%;
    display: flex;
    gap: 10%;
    text-align: center;
     justify-content: flex-start; 
    align-items: center;
   
}
.options .option{
    height: 100%;
    display: flex;
    gap: 10%;
    width: 50%;
    /* justify-content: center; */
    align-items: center;
}
.option>a{
    padding-right: 5px;
    padding-left: 5px;
}
/* .header_position .title{
    border-right: 1px solid black;
} */
.searchbar{
    box-shadow: inset 21px 1px 32px rgba(0,0,0,.05), 10px 16px 20px rgba(0,0,0,0);
    display: flex;
    border-radius: 1rem;
    background-color: white;
}
.searchbar>input{
    outline: none !important;
   margin-left: 1rem;
    border: none;
    border-radius: 1rem;
}
.searchbar>button{
    border-radius: 1rem;
    background-color: white;
}
@media only screen and (max-width: 675px)  {

    .searchbar>input {
    width: 6rem;
    }
}
@media only screen and (max-width: 575px)  {

    .header_position>.title {
        margin-right: 3px;
        margin-left: 2px;
    }
    .searchbar>input {
        width: 4.5rem;
        font-size: 13px;
    }
    
    }
    .rotateloader{
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
      }
    @media only screen and (max-width: 493px)  {
        .header_position h3 {
            font-size: 15px;
        }
        .option a{
            font-size: 13px;
        }
    }
    @media only screen and (max-width: 400px)  {
        .area{
            opacity: 0;
            visibility: hidden;
            display: none;
        }
        .header_position h3 {
            font-size: 13px;
        }
    }