.leaflet-popup-content-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
}
.leaflet-popup-content {
    margin: 7px 9px 9px 6px;
}

element.style {
    bottom: -2px;
    left: -34px;
}
.leaflet-container{
    height: 100vh;
}
@media only screen and (max-width: 873px)  {
    .leaflet-container{
        width: auto;
        height: 67vh;
        margin-bottom: 0;
        background: aquamarine;
        position: relative;
        margin: 7%;
    }
  }